.mdc-card {
    margin: 2%;
}

button {
    margin: 2px;
}

.mat-row-selected {
    background-color: #32a856
        /* Change this to your desired color */
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

// .mat-input-element {
//     height: 10px !important;
//     /* Adjust as needed */
// }

// /* Adjust the height of the container */
// .mat-form-field {
//     height: auto !important;
//     /* Allow the container to grow with the input */
// }